body {
  line-height: 1.5;
  display: block;
  justify-content: center;
  position: relative;
}

main {
  /* border: 1px solid black; */
  /* display: block; */
  height: 75%;
  width: 30%;
  padding: 20px;
  min-height: 660px;
  min-width: 350px;
  margin: auto;
}

main > #pokemon-card {
  height: 85vh;
  width: auto;
}

.card-wrapper {
  background-color: rgb(230, 66, 66);
  border: 11px ridge rgba(255, 217, 0, 0.877);
  border-radius: 5px;
  height: 90%;
  min-height: 550px;
  box-shadow: 1px 2px 10px gray;
}

/* Name, HP, type */
#top-text-wrapper {
  text-align: center;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  flex-wrap: nowrap;
}

/* .top-text {
  position: absolute;
} */

#pokemon-name {
  font-weight: 700;
}

#top-text-wrapper span:not(:first-child) {
  margin: 0;
  margin-left: 110px;
}

#top-text-wrapper span:last-child {
  margin: 0;
}

/* Image */
.img-wrapper {
  background-color: whitesmoke;
  display: flex;
  position: relative;
  width: 75%;
  min-height: 150px;
  margin: auto;
  margin-bottom: 0;
  border: 4px ridge gold;
  border-radius: 5px;
}

.sprites {
  margin: auto;
  padding: 0;
  min-height: 245px;
  min-width: 245px;
}

/* Stats */
#stats-wrapper {
  text-align: center;
  margin-top: 0;
  padding-top: 3px;
  margin-bottom: 80px;
}

/* Abilities */
.ability-wrapper {
  justify-content: space-between;
  text-align: center;
  margin-bottom: 75px;
}

/* Actions */
#actions-section {
  display: flex;
  padding-top: 25px;
  justify-content: center;
}

#choose-random {
  background-color: rgb(221, 221, 221);
  min-height: 30px;
  border-radius: 20px;
  border: 1.5px solid darkgray;
  box-shadow: 2px 2px 2px black;
}
